*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #713d92;
    
}

.form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 330;
    border: 0.2px solid rgb(233, 219, 22);
    border-radius: 5px;
    height: 200px;
    

}

.form h3{
    color: rgb(216, 231, 240);
}
p{
    color: white;
}
h2{
    color: rgb(231, 198, 50);
}

.form2{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 330;
    height: 200px;
}


.form3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 330;
    border: 0.2px solid rgb(155, 155, 152);
    border-radius: 5px;
    height: 200px;
    background-color: aliceblue;
    

}

.form2 a{
    color: rgb(157, 227, 255);
}

