*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   

    
}





.form3{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 330;
    
    border-radius: 5px;
    height: 200px;
    background-color: #e9e4e4;
    

}

.pi1{
    color: rgb(94, 176, 252);
}